@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Roboto", sans-serif !important;
  }
  
  @font-face {
    font-family: 'Neue-Plak';
    src: url('../fonts/Neue-Plak-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
.bg-geral{
    background-image: url('../images/bg-geral.jpg');
}

  .input-estilizado {
    border-bottom: 1px solid #FFF;
    font-size: 0.875rem;
  }